.btn-click:hover{
  background-color: rgb(105, 53, 15);
  cursor: pointer;
}
#content{
  background: url(https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2018%2F05%2Fkrispy-kreme-national-doughnut-day-giveaway-001.jpg?q=90&w=1400&cbr=1&fit=max);
  background-size: cover;
  height: 100vh;
  width: 100%;

}

.bg-choco{
  background-color: rgb(73, 36, 10);
}

.bg-bread{
  background-color: rgb(240,209,160);
}

.text-choc{
  color: rgb(43, 21, 5);
}

.info-center{
  background-color: rgba(24, 12, 3, 0.651);
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  position: absolute;
  top: 20vh;
  left: 10vw;
}

.donut{
  width:120px;
}