.btn-click:hover{
  color: rgb(105, 53, 15)!important;
  background-color: rgb(241,88,156);
  cursor: pointer;
}
#content{
  background: url(https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2018%2F05%2Fkrispy-kreme-national-doughnut-day-giveaway-001.jpg?q=90&w=1400&cbr=1&fit=max);
  background-size: cover;
  min-height: 100vh;
  width: 100%;

}

.bg-choco{
  background-color: rgb(73, 36, 10);
}

.text-pk{
  color: rgb(241,88,156)!important;
}

.text-pk2{
  color: rgb(241,88,156)!important;
}

.bg-pk{
  background-color: rgb(241,88,156);
}

.bg-bread{
  background-color: rgb(240,209,160);
}

.text-choc{
  color: rgb(255, 255, 255);
}

.info-center{
  background-color: rgba(24, 12, 3, 0.788);
  width: 80vw;
  min-height: 65vh;
  margin: 0 auto;
  position: absolute;
  top: 18vh;
  left: 10vw;
}

.donut{
  width: 9.5vw;
}

.donut:hover{
}

.donut-cont{
  transition: transform .2s;
}

.donut-cont:hover{
  transform: scale(1.5);
  color: rgb(241,88,156)!important;
}

.donut-logo{
  width:60px;
  /* transition: transform .2s;  */
}

.font-size-md{
  font-size: 2rem !important;
}
